#admin_home{
    margin-top: 50%;
    border: 1px red;
    justify-content: center; 
    align-items: center;
}


#go_to_delete_records_btn{
    background-color: #5c5c9c;
    border: 1px solid white; 
    border-radius: 5px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
