.nav_button {
    padding: 10px 20px; 
    background-color: #007bff;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: inline-flex; 
    text-align: center;
    gap: 10px; 
    outline: none; 
    position: absolute; 
    top: 2%; 
    left: 2%;
}

#go_to_spending_log_btn {
    padding: 0; 
    background: transparent;
    background-image: url('assets\\spreadsheet.png');
    background-color: transparent;
    background-repeat: no-repeat; 
    background-size: 70px 70px; 
    width: 70px; 
    height: 70px; 
    border-radius: 5px; 
    position: absolute; 
    top: .5%;
    left: .5%;
}


#go_to_purchase_entry_btn{
    padding: 0; 
    background-color: transparent; 
    background-image: url('assets\\pencilPaper.png'); 
    background-repeat: no-repeat; 
    background-size: 50px 50px;
    width: 50px;
    height: 50px; 
}

#go_to_settings_page_btn1, #go_to_settings_page_btn2{
    padding: 0; 
    background-color: transparent; 
    background-image: url('assets\\settingsLogo.png'); 
    background-repeat: no-repeat; 
    background-size: 40px 40px; 
    width: 40px; 
    height: 40px;
    left: unset;
    right: 10px;}


#close_admin_page_btn {
    position: absolute;
    top: 10px; 
    left: 10px;
    background-color: transparent;
    background-image: url('assets\\returnLogo.png'); 
    background-repeat: no-repeat; 
    background-size: 40px 40px; 
    width: 40px; 
    height: 40px;
}