#purchase_entry_page_content {
    padding-top: 50%; /* Puts in middle */
    font-size: xx-large;
}

#purchase_entry_header {
    font-weight: bold;
    margin-top: 10%;
}
#dollar_sign{
    font-size: medium;
}


#main_purchase_entry {
    width: 90%;
    padding-left: -40px;
}

#date_container {
    padding-top: 2%;
    width: 100%; /* Full width of the parent container */
    box-sizing: border-box;
}



#submit_btn {
    position: fixed; /* Keep the button fixed on the screen */
    margin-top: 2%;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    right: 50%;
    transform: translateX(50%);    
}

#error-box {
    display: none; /* Hidden by default */
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: bold;
    border: 1px solid red;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    z-index: 9999;
}
