
#spending_log_header{
    position: relative;
    margin-top: 40px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
    font-size: 24px;
}

#sum_display {
    position: relative;
    margin-top: 20px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 23px;
}

#date_display {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    top: 3%;
    display: inline-block;
}

#date_display_table{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    position: relative;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.date_display_outer_columns{
    padding-left: 15px; 
    padding-right: 15px; 
}

#filter_date_backwards_btn,#filter_date_forwards_btn{
    padding: 6px 10px; 
    background-color: #5c5c9c;
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
}


#spending_log_table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #5c5c9c;
    position: relative;
    top: 4%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

#spending_log_table th, #spending_log_table td {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: bold;
}