body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.page {
    text-align: center;
    position: absolute; /* Set relative positioning for the div */
    width: 350px;
    height: 80%;
    margin: 0 auto; /* Center the div horizontally */
    top: 50%; /* Puts in middle */
    right: 50%;
 
    transform: translate(50%, -50%);/* Adjust for for size of div to keep in middle */
    padding: 20px; /* Add padding inside the div */
    border: 1px solid #ddd; /* Optional: add a border */
    background-color: #f9f9f9; /* Optional: add a background color */
}


#date_display {
    margin-top: 20%;
    width: 100%
}

#spending_sum_display {
    font-size: 12;
}


#spending_log_table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
}

#spending_log_table th, #spending_log_table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: bold;
}


.nav_button {
    position: fixed; /* Keep the button fixed on the screen */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    /*padding: 10px 20px;  Button padding */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    z-index: 1000; /* Ensure it appears on top of other content */
}

#purchase_entry_page_content {
    padding-top: 50%; /* Puts in middle */
    font-size: xx-large;
}

#purchase_entry_header {
    font-weight: bold;
    margin-top: 10%;
}
#dollar_sign{
    font-size: medium;
}


#main_purchase_entry {
    width: 90%;
    padding-left: -40px;
}

#date_container {
    padding-top: 2%;
    width: 100%;
}



#submit_btn {
    position: fixed; /* Keep the button fixed on the screen */
    margin-top: 2%;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    right: 50%;
    transform: translateX(50%);
}